header{
    height: 100vh;
    background-color: brown;
}

header .header-topbar{
    height: 20px;
    background-color: darkolivegreen;
}

main{
    padding: 60px 0;
}

footer{
    background-color: lightgrey;
}

footer .footer-botttombar{
    color: #fff;
    height: 50px;
    line-height: 50px;
    background-color: green;
}

/* Login Module  */
.login-header{
    font-size: 3em;
    text-align: center;
}